# Team Members:

Jetendra Mulinti, Goutham Vemula, Prajeeth Nakka

# Introduction:
We are creating clusters on our insurance company customers data using at least two different KNN models and at least two different SVM models and picking the best model.

Steps we are following
1. Loading data
2. Cleaning data
3. EDA
4. Feature selection
5. Train the model with 4 Models
6. Validating Metrics.
7. Selecting Models
8. Conclusion

In [ ]:
### Import packages

import warnings
warnings.filterwarnings('ignore')
import pandas as pd
pd.options.display.max_columns = 999
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.backends.backend_pdf import PdfPages
import seaborn as sns
import os
from datetime import datetime



from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

# Data Loading

In [ ]:
github_url = 'https://raw.githubusercontent.com/JetendraMulinti/DAV-6150---DataScience/main/M7%20Practical%20Challenge%20Binary%20Logistic%20Regression/M7_Data.csv'

df = pd.read_csv(github_url)
df.head(2)

## Data Dictionary

TARGET: Indicator of buying the new product (0 = no, 1= yes)

loyalty: Loyalty level, from low to high (0 to 3), 99 = unclassified

ID: Unique customer identifier

age: Age in years

city: Unique code per city

LOR: Length of relationship in years

prod_A: Bought product A (0= no, 1=yes)

type_A: Type of product A

type_B: Type of product B

prod_B: Bought product B (0= no, 1=yes)

turnover_A: Amount of money spent on product A

turnover_B: Amount of money spent on product B

contract: Type of contract

age_P: Age of partner in years

lor_M: Length of relationship in months

In [ ]:
df.columns

## Data cleaning

In [ ]:
df.isnull().sum()

In [ ]:
### check duplicates

print("No of rows duplicates: ",len(df[df.duplicated()]))

## dropping

df = df.drop_duplicates().reset_index(drop=True)
df.head(2)

print("No of rows duplicates: ",len(df[df.duplicated()]))

In [ ]:
df['TARGET'].value_counts()

In [ ]:
#### Changing the Target column values to 0 & 1

df['TARGET'] = df['TARGET'].replace('N',0)
df['TARGET'] = df['TARGET'].replace('Y',1)

df['TARGET'].value_counts()

In [ ]:
df['TARGET'].value_counts()

In [ ]:
len(df[df['city'] <= 0]), len(df[df['city'] >= 0])

In [ ]:
df.describe()

### points to check

1. age_P min value is 5
2. planning to remove city value -> -999999, as no of rows are only 8

In [ ]:
## remove the rows

df = df[df['city'] >= 0].reset_index(drop=True)\

print('length of the rows:', len(df))
df.head()

In [ ]:
### Checking datatypes

df.info()

In [ ]:
### converting datatypes

def convert_datatypes(df):

    # Convert specific columns based on the suggested data types
    specific_columns = {
        'TARGET': 'str',
        'loyalty': 'int64',
        'ID': 'str',
        'age': 'int64',
        'city': 'str',
        'LOR': 'int64',
        'prod_A': 'str',
        'type_A': 'str',
       'type_B': 'str',
        'prod_B': 'str',
        'turnover_A': 'float64',
        'turnover_B': 'float64',
        'contract': 'str',
        'age_P': 'int64',
        'lor_M': 'int64',
    }

    for column, dtype in specific_columns.items():
        if column in df.columns:
            df[column] = df[column].astype(dtype)
        else:
            print('Error')

    return df


## calling function

df = convert_datatypes(df)
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

There are no null values & changed the datatypes of the data frame

## EDA

In [ ]:
## Sitation: Help from chatgpt
###### Creating a function that gives univariate analysis on quantitative columns


def Hist_BoxPlotFunction(df, pdf_filename):

    # Path for saving the PDF in the current working directory
    pdf_path = os.path.join(os.getcwd(), pdf_filename)

    quantitative_columns = df.select_dtypes(include=['float64', 'int64','int32']).columns

    with PdfPages(pdf_path) as pdf:
        for col in quantitative_columns:
            fig, axs = plt.subplots(1, 2, figsize=(12, 4))

            # Histogram
            sns.histplot(df[col], ax=axs[0], kde=True)
            axs[0].set_title(f'Histogram of {col}')

            # Box Plot
            sns.boxplot(x=df[col], ax=axs[1])
            axs[1].set_title(f'Box Plot of {col}')

            plt.tight_layout()
            pdf.savefig(fig)  # Save the figure into the PDF
            plt.show()  # Display the plot
            plt.close(fig)  # Close to free up memory

In [ ]:
Hist_BoxPlotFunction(df, "Quant_plots.pdf")

In [ ]:
#### Creating age bins

print("Age Min value: ",df['age'].min())
print("Age Max value: ",df['age'].max())

print("Age_P Min value: ",df['age_P'].min())
print("Age_P Max value: ",df['age_P'].max())


## Based on above min & max valuesm checking whether both columns has same values


print("No of rows having different values: " ,len(df[df['age'] != df['age_P']]))


### so we can drop one column, I am droping age_P column, considering age column is more valid at the time of insurance.

del df['age_P']

In [ ]:
######### Checking whether age & age_P columns are same

def age_bins_func(df, col):

    bins = [0, 20, 40, 60, 80, df[col].max()]
    labels = ['0-20', '21-40', '41-60', '61-80', '80+']

    df['age_bin'] = pd.cut(df['age'], bins, labels=labels)

    return df


df = age_bins_func(df, 'age')

df.head(2)

In [ ]:
def plot_bar_chart(data: pd.DataFrame, column1: str, column2: str) -> None:

    # Make a copy of the data to avoid changing the original dataframe
    data_copy = data.copy()

    # Check if the columns are boolean, if so convert them to strings
    if data_copy[column1].dtype == 'bool':
        data_copy[column1] = data_copy[column1].astype(str)

    if data_copy[column2].dtype == 'bool':
        data_copy[column2] = data_copy[column2].astype(str)

    # Group the data by column1 and count unique values in column2
    grouped_data = data_copy.groupby(column1)[column2].nunique().reset_index()

    # Create the bar chart
    plt.figure(figsize=(10, 6))
    bars = plt.bar(grouped_data[column1], grouped_data[column2], color='skyblue')

    # Add value labels on top of the bars
    for bar, val in zip(bars, grouped_data[column2]):
        plt.text(bar.get_x() + bar.get_width() / 2, val + 0.1, val, ha='center')  # Adjust vertical offset with `+ 0.1`

    # Add labels and title
    plt.xlabel(column1)
    plt.ylabel(f'Unique count of {column2}')
    plt.title(f'Bar Chart of Unique Counts of {column2} by {column1}')

    # Rotate x-axis tick labels for readability
    plt.xticks(rotation=45, ha='right')

    # Adjust layout to prevent clipping of tick-labels
    plt.tight_layout()

    # Hide the plot
    plt.show()

In [ ]:
def plot_bar_chart_3_columns(data: pd.DataFrame, product_col: str, target_col: str, id_col: str) -> None:

    # Make a copy of the data to avoid changing the original dataframe
    data_copy = data.copy()

    # Group data by product and target, then calculate the count of unique IDs
    grouped_data = (
        data_copy.groupby([product_col, target_col])[id_col].count().unstack().fillna(0)
    )

    # Create the bar chart
    fig, ax = plt.subplots(figsize=(10, 6))
    bars = grouped_data.plot(kind="bar", colormap="tab20", ax=ax)


    # Add labels and title
    plt.xlabel(f"{product_col} and {target_col}")
    plt.ylabel("Count")
    plt.title(f"Count of unique combinations of {product_col} and {target_col}")

    # Rotate x-axis tick labels for readability (optional)
    # plt.xticks(rotation=45, ha='right')

    # Adjust layout to prevent overlapping labels (optional)
    plt.tight_layout()

    # Show the plot
    plt.show()

In [ ]:
plot_bar_chart(df, 'TARGET','ID')

This shows the dataset is imbalanced dataset

# Age_bins

In [ ]:
plot_bar_chart(df, 'age_bin','ID')

In [ ]:
## want to check which age is been most repeated

df[df['age_bin'] == '21-40']['age'].value_counts()

### so most of our customers are from young to middle age customers

In [ ]:
plot_bar_chart_3_columns(df, 'age_bin','prod_A','ID')

In [ ]:
plot_bar_chart_3_columns(df, 'age_bin','prod_B','ID')

# loyalty

In [ ]:
df['loyalty'].value_counts()

In [ ]:
plot_bar_chart_3_columns(df, 'prod_A', 'loyalty', 'ID')

In [ ]:
plot_bar_chart_3_columns(df, 'prod_B', 'loyalty', 'ID')

### Most of loyality unclassified (99) is given by non-purchased customers

In [ ]:
plot_bar_chart_3_columns(df[df['loyalty'] != 99], 'prod_A', 'loyalty', 'ID')

In [ ]:
plot_bar_chart_3_columns(df[df['loyalty'] != 99], 'prod_B', 'loyalty', 'ID')

From the above product comparision, more customers have brought product B & having mostly same loyalty on purchased both products

# Product

In [ ]:
plot_bar_chart_3_columns(df, 'prod_A', 'type_A', 'ID')

In [ ]:
plot_bar_chart_3_columns(df, 'prod_B', 'type_B', 'ID')

Based on comparing the Product & its types, it clearly says in both products Type 0 is most unsold, & type 3 is most bought product type

# LOR_M

In [ ]:
df.groupby(['prod_A','lor_M'])['ID'].nunique()

In [ ]:
df.groupby(['prod_B','lor_M'])['ID'].nunique()

Clearly shows that lor_M 15 & 27 months are customers who bought more.

3 months LOR_M are not bought.

# Feature selection

In [ ]:
df.info()

In [ ]:
### copy the dataframe

df_copy = df.copy(deep=True)
del df_copy['age_bin']
del df_copy['contract']

In [ ]:
df_copy['TARGET'] = df_copy['TARGET'].astype(int)
df_copy['loyalty'] = df_copy['loyalty'].astype(int)
df_copy['ID'] = df_copy['ID'].astype(int)
df_copy['age'] = df_copy['age'].astype(int)
df_copy['city'] = df_copy['city'].astype(int)
df_copy['LOR'] = df_copy['LOR'].astype(int)
df_copy['prod_A'] = df_copy['prod_A'].astype(int)
df_copy['prod_B'] = df_copy['prod_B'].astype(int)
df_copy['type_A'] = df_copy['type_A'].astype(int)
df_copy['type_B'] = df_copy['type_B'].astype(int)
df_copy['turnover_A'] = df_copy['turnover_A'].astype(int)
df_copy['turnover_B'] = df_copy['turnover_B'].astype(int)
df_copy['lor_M'] = df_copy['lor_M'].astype(int)

df_copy.info()

In [ ]:
### Correlation Plot

cm = df_copy.corr()
plt.figure(figsize=(12, 8))
sns.heatmap(cm, annot=True, cmap='coolwarm')

Based on the correlation matrix and considering the above EDA, planning to use

**Model 1: Demographic and Customer Relationship Features**

Age: Customer's age might affect the likelihood of purchasing additional
products.

LOR (Length of Relationship): The length of time the customer has been with the company could impact their loyalty and their openness to purchasing additional products.

Loyalty: A loyalty score that might directly relate to the likelihood of purchasing more products.

Model 2: Current Product Engagement Features
**bold text**

Prod_A (Whether they bought Product A): This could indicate a willingness to purchase additional products.

Turnover_A (Amount spent on Product A): The amount spent might show the level of engagement with the company's products.

Prod_B and Turnover_B: Similar to Product A, these variables could indicate a willingness to purchase additional products and the level of engagement with the current products.

**Model 3: Combined Features**

A combination of demographic and product engagement features, for instance:

Age

Loyalty

Prod_A or Prod_B (choosing one to avoid multicollinearity with Turnover)
Turnover_A or Turnover_B (as an indicator of monetary engagement with the products)

# **Prepped Data Review**

In [ ]:
df_copy.describe()

Comparing the previous data we have removed the city (-9999) data and we have used age-bins for EDA and removed it before modelling, we have removed contract column as it has only 1 value before modelling

# **Modelling**

In [ ]:
df_copy['TARGET'].value_counts()

As our dataset is imbalanced we are using a concept of weighted class in fitting the model.

In [ ]:
# Adjusting the run_logistic_regression function to handle class imbalance by adding class_weight='balanced'

def run_logistic_regression_balanced(df ,features, target='TARGET'):
    # 1. Train Test split
    X_train, X_test, y_train, y_test = train_test_split(df[features], df[target], test_size=0.3, random_state=42)

    # 2. Normalize the data
    scaler = StandardScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)

    # 3. Fit the model with class_weight='balanced'
    model = LogisticRegression(random_state=42, class_weight='balanced')
    model.fit(X_train_scaled, y_train)

    # Predictions
    y_pred = model.predict(X_test_scaled)

    # 4. Return the metrics
    metrics = {
        'accuracy': accuracy_score(y_test, y_pred),
        'precision': precision_score(y_test, y_pred),
        'recall': recall_score(y_test, y_pred),
        'f1': f1_score(y_test, y_pred),
        'roc_auc': roc_auc_score(y_test, model.predict_proba(X_test_scaled)[:, 1])
    }

    return metrics

In [ ]:
df_copy.head(2)

In [ ]:
# Define a function that compares the three models with balanced class weights and picks the best one based on a given metric
def compare_models_balanced(df, metric='roc_auc'):

  features_set_1 = ['age','loyalty', 'lor_M']
  features_set_2 = ['prod_A','prod_B', 'turnover_A','turnover_B']
  features_set_3 = ['prod_A','prod_B', 'age','loyalty']


  metrics_1 = run_logistic_regression_balanced(df, features_set_1)
  metrics_2 = run_logistic_regression_balanced(df,features_set_2)
  metrics_3 = run_logistic_regression_balanced(df,features_set_3)

  print("Model 1\t")
  print("Features: ",features_set_1)
  print("Metrics: ",metrics_1[metric])

  print("Model 2\t")
  print("Features: ",features_set_2)
  print("Metrics: ",metrics_2[metric])

  print("Model 3\t")
  print("Features: ",features_set_3)
  print("Metrics: ",metrics_3[metric])


  # Compare the models based on the specified metric
  best_metrics = max(metrics_1[metric], metrics_2[metric], metrics_3[metric])

  if best_metrics == metrics_1[metric]:
      best_model = 'Model 1'
      best_features = features_set_1
  elif best_metrics == metrics_2[metric]:
      best_model = 'Model 2'
      best_features = features_set_2
  else:
      best_model = 'Model 3'
      best_features = features_set_3


  print("\nBest Model \t")
  print(best_model)
  print("Features: ",best_features)
  print("Metrics: ",best_metrics)


  return best_model, best_features, best_metrics

# **Model Selection**

In [ ]:

# Run the comparison of models with balanced class weights
best_model_balanced, best_features_balanced, best_metrics_balanced = compare_models_balanced(df_copy)

Based on comparing the 3 models we picked the model 2, considering the best roc_auc score.

# Conclusion

In conclusion, we have successfully prepared a model for the data science assignment. We started by cleaning the data and removing duplicates, followed by performing exploratory data analysis (EDA) and feature selection. We built three logistic regression models, each focusing on different sets of categories: demographic, product purchase, and a combination of both. After comparing the metrics of the three models using the ROC-AUC metric, we selected the best model, which is model 2. This model showed the highest performance based on our evaluation criteria.